#cont{
 
   
}

#menu{
   
   background-color:blue;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.comida{
  height: 200px;
  width: 200px;
  border-radius: 20%;
}
#cuerpo{
    
    background-color:gold;
    height: 700px;
    
}

#footer{
    
    background-color:deeppink;
    height: 50px;
    display: flex;
   align-items: center;
   justify-content: center;

}
#img1 {
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 10%;
   
  }
#img2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 45%;
    
  }
#img3 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 80%;
    
  }
    
