/*#indice{
    color: red;
    text-decoration: none;
}
#indice li>a:hover{ 
    background-color: White;
    color: Gray;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: none;
    }
    */
#piedepagina{
    align-self: link;
    color: green;
    text-decoration: none;
    align-self: hover;
    background-color: white;
    border-style: solid;
    border-color: black;
    font-style: normal; 
}